<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p>
        <a href="#"></a>
      </p>
      <p>
        <a href="#"></a>
      </p>
      <p>
        <a href="#"></a>
      </p>
    </div>
    <div class="col-sm-8 text-left">
      <br>
      <h1>About</h1>
      <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate
        strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world
        view of disruptive innovation via workplace diversity and empowerment.
        <br> Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward,
        a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User
        generated content in real-time will have multiple touchpoints for offshoring.
        <br> Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide
        with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the
        loop on focusing solely on the bottom line.</p>
      <hr>
      <h1>Mission</h1>
      <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate
        strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world
        view of disruptive innovation via workplace diversity and empowerment.</p>
      <br>
      <p>Tonight I'm gonna drive. Shadows jumpin' all over the walls. I'll just wait until it's over. I feel numb - burn with
        a weak heart. God saying hurry don't be late. Don't have any dreams don't have any plans. It's in the neon Bible,
        the neon Bible. I read the pages about me. That's when the romance dies. Head in the sky. I never know just what
        to say. Pick me up and turn me around. And I'm just tired of running around. A memory that needs to be repressed
        Make it up as we go along. They were brief and to the point. It's ok, I know nothing's wrong. The less we say about
        it, the better. I went out into the night. Our flesh, while you are getting dressed. I woke up on the darkest night.
        Nothing. Some of them big, some of them small. Hi-yo, you got light in your eyes. (We found the light). Hi-yo, I
        got plenty of time. Not really something to shout about Over the interstate. I'm in the trunk my surf board on top.
        Kids are swingin' from the power lines. Your voice in my ear makes me feel so alone. It's a shame about the roadblock,.
        Soon the sun will rise. Nobody's home, so nobody minds. In the light they both looked the same. I went out into the
        night. Poured them out on into the world. we're afraid that we'll get called or stopped. And you're standing here
        beside me. Since you've gone away Take the poison of your age. ome is where I want to be. Since you've gone away.
        Ice has covered up my parents hands. I went out to find some light. Let's go right now, surf city eastern block.
        I woke up with the power out. The silver moon is shining bright. Not much chance for survival. (So I) Guess I must
        be having fun. Feet on the ground. Neighbors all were shoutin' that they found the light. A vial of hope and a vial
        of pain. On every boy and every girl If the neon Bible is right. I never know just what to say. Cause I like cars
        more than telephones</p>
      <br>
      <p>You made me what I am today. Farewell, my summer love, farewell, ooh. On the ground. You pushed me right up to the
        top. Hey, hey, hey. Let me give my love a whirl. They come from miles around to see ya. Watched me fly. But don't
        you know that lovin' is the spice of life, yeah.. Maria you're my love. Without crying now i want to understand.
        You know I'm shakin'. Your grandma's house was next to mine. Goody girl, let down those curls. To the top. bum ba
        bum ba bum ba bum bum bum. (Bum ba bum ba bum ba bum bum. Without hiding. And then you showed me. But summer's gotten
        away from us. If I have to fight for you all night. Thanks a lot. bum ba bum ba bum ba bum bum. And the slow parade
        of fears. Farewell my summer love, farewell. You must help me if you can. The best man under pressure Ooh, farewell
        my summer love, farewell. Time's moving too fast for us. I hope I'll get a chance to meet you. I don't think they're
        tough enough. We were together most of the time. Fame and fortune. Bum ba bum ba bum ba bum bum bum). I told you
        that you sure looked good, now. The opportunity at the end. You want my lovin' yes you do do do (Yes you do, I know
        you do). To see the evil and the good. Cause your mama told you that love ain't right. I found my happiest days.
        But still you let me. Bye, bye, don't turn around I just wanna love ya. I have done all that i could. You send cold
        chills up and down my spine. You made me what I am today. Doctor my eyes (eyes, eyes). We kiss for thrills, then
        you draw the line oh baby (oh baby). You knew the win. Mama's pearl, let down those curls. Girl I won't forget you.
        Let me give your heart a twirl. If I cause trouble. You made me what I am today. Don't keep me wishin' (keep me wishin').
        Don't drive me crazy You stuck with me through thick and thin. Ooh ooh now baby. I bumped into you by the corner
        store. You took my hand. Then there's one thing I know.... When you came to see your grandma in may. Maria can I
        see yah. Girl I won't forget you. Aah to get your love it's not easy. Maria my love you're just too much. You made
        me what I am today. Farewell, my summer love, farewell, ooh, yeah. Pretty little se'orita. Find what you been missing
        (what you been missing)</p>
    </div>
    <div class="col-sm-2 sidenav">
      <p>
        <a href="#"></a>
      </p>
      <p>
        <a href="#"></a>
      </p>
      <p>
        <a href="#"></a>
      </p>
    </div>
  </div>
</div>