<div class="container text-center">    
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-7">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <br>
              <h1>Blogz</h1>
              <h4>Our Users Are Always in The Know</h4>
              <button onclick="myFunction()" type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
              </button>     
          
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Paul</p>
           <img src="https://avatarfiles.alphacoders.com/107/107902.jpg" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Miles from the sunrise. The first time I heard 'Peggy Sue'. You can cut them with a knife. Take my phone. Maladies. Oh Lord, don't keep me up all night. First time I smoked. To the women I love. And the war was cold. But my heart is allergic. My heart can stand a disaster. Though I don't know why it's there. Now many wars have come and gone. My hand can't touch a guitar string. Numbers swirling thick and curious</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Kendrick</p>
           <img src="https://avatarfiles.alphacoders.com/146/146071.jpg" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Burning money when I get it. At the domino table, Tony had told him that he.... That was hot and I want ice. I deal with ya like my son, stare at the sun. I guess I really am a vanity slave. My innocence really eventually see a endurance surrendering. Acompañame a Trazar. My mama is stressing, my daddy tired. and you working with two left feet at the skating rink. 
            </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Stevie</p>
           <img src="https://avatarfiles.alphacoders.com/119/119582.jpg" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Move too fast, You'll end up never knowing... I'm wastin' my time by goin' to school. The drums, a fire, a calling . Her best friend can't help her. Now you've taken all my money. When it comes to love, got to take it easy. Ahh, got to learn to let the river flow. What are you gonna do. Have you come to fight the war . Hello, hello, sad angel . Have you come to fight the war . With a prayer and a curse . Your dreams would not wake . My eyes saw the words</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Sean</p>
           <img src="https://avatarfiles.alphacoders.com/122/122274.jpg" class="img-circle" height="55" width="55" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>This how mi waan har stack it up pack it up. Wuk it so hard everybody might hear. All a di girls dem know, know, know, know, know. Sean-A-Paul deh yah pon di go (Pon di track). Breeze a blow. From the first time mi sight yuh a instant attraction. Why everyday she waan come push har partite inna yuh business so wah gwaan. a which one a pour di coffee dung in har t'ermos?</p>
          </div>
        </div>
      </div>     
    </div>
    <div class="col-sm-2">
    </div>
    <div class="container text-center">
      <div class="row">
        <script>
              function myFunction() {
    alert("You Like Us, You Really Like US!");
}
          </script>
      </div>
    </div>
  </div>
</div>

