<div class="jumbotron">
    <div class="container text-center">
        <div class="divCentro">
            <h1>BlockchainNewz</h1>
            <p>Stay updated on the blockchain</p>
            <button type="button" class="btn btn-info btn-lg btn-warning" data-toggle="modal" data-target="#myModal">Subscribe!</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Subscribe Today!</h4>
                        </div>
                        <div class="modal-body">
                            <p>Stay informed on the reg with our weekly newsletter. Fill out the form below</p>
                        </div>
                        <form action="/subscribe" method="post">
                            <div class="form-group">
                                <label for="email">Email address:</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <button type="submit" class="btn btn-default">Subscribe</button>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-3 text-center">
    <h2>Featured Article</h2>
    <br>
    <div class="row">
        <div class="col-lg-12">
                    <img src="https://images.cointelegraph.com/images/740_Ly9jb2ludGVsZWdyYXBoLmNvbS9zdG9yYWdlL3VwbG9hZHMvdmlldy85NGEyMmRhNzkxOGZlMDE4NzA4NzViM2U4NmI3OTRjOC5qcGc=.jpg"
                        alt="xyo">
                    <h2>XYO Network Strengthens Crypto-Location Tech Portfolio With the Acquisition of GEO</h2>

                    <p>
                        In a move that strengthens San Diego-based XYO Network as a leader in the development of crypto-location technology, the
                        company has recently acquired GEO. The company GEO and the team behind it first attracted the attention
                        of XYO Network during EthDenver, one of the largest hackathons for Ethereum in the United States.
                        "We're excited about the addition of GEO to our crypto-location portfolio," said XYO Network co-founder
                        Markus Levin. "GEO adds an additional feature set to XYO by trustlessly notifying a device that an
                        object was there with absolute certainty, and without having to communicate private data with the
                        network." GEO was conceived and built by three highly talented students, one of whom is world renowned
                        hacker Jack Cable. Cable, a high school student, is best known for competing against 600 hackers
                        from around the world in 2017 as part of Hack the Air Force, a partnership between the Department
                        of Defense and HackerOne, a bug bounty platform. Cable found 40 vulnerabilities on the Air Force
                        site, which placed him first on the event leaderboard. Owen Shen and Zefram Lou, both freshmen enrolled
                        at UC San Diego, rounded out the EthDenver GEO team. Both had already garnered their own fair share
                        of attention in the blockchain space before joining XYO Network with Cable as an XYO Network adviser.
                    </p>
        </div>
    </div>
</div>

<div class="container-fluid bg-3 text-center">
    <h2>NewzFeed</h2>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <h4>BitRefill Adds Amazon Gift Cards to its Platform</h4>
            <img src="https://steemitimages.com/0x0/https://cdn-images-1.medium.com/max/1200/1*XzOWkovw6ouk9JaCPaGudA.png" class="img-responsive"
                style="width:100%" alt="Image1">
        </div>
        <div class="col-sm-3">
            <h4>Blockchain Investment Fund Launches in China's Nanjing to Develop Public Project</h4>
            <img src="https://crypto-info.io/wp-content/uploads/2018/06/china-blockchain-760x490-740x477.jpg" class="img-responsive"
                style="width:100%" alt="Image2">
        </div>
        <div class="col-sm-3">
            <h4>G20: 'Crypto-Assets Can Deliver Significant Benefits'</h4>
            <img src="https://classiarius.net/wp-content/uploads/2018/03/Thumb-3.png" class="img-responsive" style="width:100%" alt="Image3">
        </div>
        <div class="col-sm-3">
            <h4>Google Cloud to Float Better With Help of Blockchain</h4>
            <img src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/10/google-in-chains.png" class="img-responsive" style="width:100%"
                alt="Image4">
        </div>
    </div>
</div>
<br>