<div class="container-fluid bg-3 text-center">
  <br>
  <h1>Get Social</h1>
  <br>
  <div class="row">
    <div class="col-md-4">
      <h2>Facebook</h2>
      <a href="https://www.facebook.com/xyonetwork/" target="_blank">
        <img src="http://files.softicons.com/download/social-media-icons/advanced-flat-social-icons-by-uiconstock/png/128x128/facebook.png"
          class="img-responsive" style="width:128px; height:128px; margin:auto;" alt="Image">
      </a>
    </div>
    <div class="col-md-4">
      <h2>YouTube</h2>
      <a href="https://www.youtube.com/watch?v=O3cH7mRwkU8" target="_blank">
        <img src="http://files.softicons.com/download/social-media-icons/advanced-flat-social-icons-by-uiconstock/png/128x128/youtube.png"
          class="img-responsive" style="width:128px; height:128px; margin:auto;" alt="Image">
      </a>
    </div>
    <div class="col-md-4">
      <h2>Twitter</h2>
      <a href="https://twitter.com/xyoraclenetwork?lang=en" target="_blank">
        <img src="http://files.softicons.com/download/social-media-icons/advanced-flat-social-icons-by-uiconstock/png/128x128/twitter.png"
          class="img-responsive" style="width:128px; height:128px; margin:auto;" alt="Image">
      </a>
    </div>
  </div>
</div>
<br>

<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-md-4">
      <h2>Google+</h2>
      <a href="https://coinmarketcap.com/currencies/xyo-network/" target="_blank">
        <img src="http://files.softicons.com/download/social-media-icons/advanced-flat-social-icons-by-uiconstock/png/128x128/google%20plus.png"
          class="img-responsive" style="width:128px; height:128px; margin:auto;" alt="Image">
      </a>
    </div>
    <div class="col-md-4">
      <h2>Instagram</h2>
      <a href="https://www.instagram.com/xyoraclenetwork/" target="_blank">
        <img src="http://files.softicons.com/download/social-media-icons/advanced-flat-social-icons-by-uiconstock/png/128x128/instagram.png"
          class="img-responsive" style="width:128px; height:128px; margin:auto;" alt="Image">
      </a>
    </div>
    <div class="col-md-4">
      <h2>Reddit</h2>
      <a href="https://www.reddit.com/r/XYONetwork/" target="_blank">
        <img src="http://files.softicons.com/download/social-media-icons/advanced-flat-social-icons-by-uiconstock/png/128x128/reddit.png"
          class="img-responsive" style="width:128px; height:128px; margin:auto;" alt="Image">
      </a>
    </div>
  </div>
</div>
<br>
<br>