<div class="container-fluid bg-3 text-center">    
  <h1>Get Social</h1><br>
  <div class="row">
    <div class="col-md-4">
      <h2>Facebook</h2>
      <img src="http://files.softicons.com/download/social-media-icons/advanced-flat-social-icons-by-uiconstock/png/128x128/facebook.png" class="img-responsive" style="width:128px; height:128px; margin:auto;" alt="Image">
    </div>
    <div class="col-md-4"> 
      <h2>YouTube</h2>
      <img src="http://files.softicons.com/download/social-media-icons/advanced-flat-social-icons-by-uiconstock/png/128x128/youtube.png" class="img-responsive" style="width:128px; height:128px; margin:auto;" alt="Image">
    </div>
    <div class="col-md-4"> 
      <h2>Twitter</h2>
      <img src="http://files.softicons.com/download/social-media-icons/advanced-flat-social-icons-by-uiconstock/png/128x128/twitter.png" class="img-responsive" style="width:128px; height:128px; margin:auto;" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-md-4">
      <h2>Google+</h2>
      <img src="http://files.softicons.com/download/social-media-icons/advanced-flat-social-icons-by-uiconstock/png/128x128/google%20plus.png" class="img-responsive" style="width:128px; height:128px; margin:auto;" alt="Image">
    </div>
    <div class="col-md-4"> 
      <h2>Instagram</h2>
      <img src="http://files.softicons.com/download/social-media-icons/advanced-flat-social-icons-by-uiconstock/png/128x128/instagram.png" class="img-responsive" style="width:128px; height:128px; margin:auto;" alt="Image">
    </div>
    <div class="col-md-4"> 
      <h2>Reddit</h2>
      <img src="http://files.softicons.com/download/social-media-icons/advanced-flat-social-icons-by-uiconstock/png/128x128/reddit.png" class="img-responsive" style="width:128px; height:128px; margin:auto;" alt="Image">
    </div>
  </div>
</div><br><br>