<div class="container-fluid bg-3 text-center">
<h2>Congrats! You have subscribed {{email}}.
<span class="glyphicons glyphicons-fingerprint-ok"></span></h2>
<span class="glyphicons glyphicons-fingerprint-ok">olk</span>
</div>