<div class="container-fluid bg-3 text-center" id="subFooter">
    <br>
    <br>
<h2>Congrats! You have subscribed {{email}}.</h2>
<br>
<a href="https://www.youtube.com/watch?v=GSeeFgsqUxU" target="_blank">
    <p id="envelope"><span class="glyphicon glyphicon-envelope" ></span></p></a>
<br>
<br>
</div>